.inner_box1 .div1{
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

}

.calendar {
  width: 250px;
  height: 180px;
  
  background-color: rgba(252, 251, 249, 1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 5%;
  top: 10%;
}

/* .calendarDM.darkmode {
  background-color: rgba(252, 251, 249, 0.5);
} */

.calender-header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 5px 0;
}

.calender-header i {
  cursor: pointer;
  margin: 0px 10px;
}

.calender-header h1 {
  font-size: 15px;
}

.calender-day {
  width: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  margin-top: 7px;
}

.weekday {
  width: calc(100% / 7);
  font-size: 13px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.calender-date {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.calender-date div {
  font-size: 12px;
  padding: 4px 0px;
  margin: 0px 5px;
  width: calc(100% / 7 - 10px);
  text-align: center;
  /* color: #616161; */
  color:rgba(0, 0, 0, 0.8);
}

.calender-date div:hover:not(.today) {
  background-color: rgba(248, 250, 150, 0.2);
  cursor: pointer;
}

.calender-date .previous-date,
.calender-date .next-date {
  opacity: 0.5;
}

.calender-date .today {
  background-color: rgba(255, 253, 109, 0.5);
  border-radius: 15px;
  color: white;
}
/* 
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .calendar {
    width: 280px;
    height: 210px;
  }
  .calender-header h1 {
    font-size: 0.95em;
  }
  .calender-day {
    font-size: 0.8em;
  }
  .calender-date div {
    font-size: 0.75em;
    padding: 4px 0px;
    margin: 2px 5px;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1920px) {
  .calendar {
    width: 300px;
    height: 240px;
  }
  .calender-header h1 {
    font-size: 0.95em;
  }
  .calender-day {
    font-size: 0.8em;
  }
  .calender-date div {
    font-size: 0.75em;
    padding: 4px 0px;
    margin: 4px 5px;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2560px) {
  .calendar {
    width: 300px;
    height: 240px;
  }
  .month h1 {
    font-size: 0.95em;
  }
  .weekday {
    font-size: 0.8em;
  }
  .dates div {
    font-size: 0.75em;
    padding: 4px 0px;
    margin: 4px 5px;
  }
}

@media screen and (min-width: 2560px) {
  .calendar {
    right: 6%;
    width: 300px;
    height: 240px;
  }
  .month h1 {
    font-size: 0.95em;
  }
  .weekday {
    font-size: 0.8em;
  }
  .dates div {
    font-size: 0.75em;
    padding: 4px 0px;
    margin: 4px 5px;
  }
} */
