.function__clock{
    font-family: 'Aldrich', sans-serif;
    width:200px;
    height: 200px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px;
    box-sizing: border-box;
}

.function__clock h1{
    font-size: 29px;
    font-weight: bold;
}
.function__clock h3{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}