.status-bar{
    padding: 5px;
    position:fixed;
    margin-top:10px;
    display: flex;
    justify-content: space-between;
    top:0;
    width: 100%;
    box-sizing: border-box;
}
.status-bar img{
    width:30px;
    height: 30px;
    border-radius: 10px;
}
.app_box{
    margin-right:20px;
}
.app_box a{
    text-decoration: none;
}
.BGM{
    display: flex;
    align-items: center;
}
.BGM span{
    font-size: 20px;
}
.BGM_icon{
    
    margin-left: 20px;
   
    /* background: linear-gradient(to bottom, #ffffff31, #ffeeee31); */
}
.BGM_button{
    width:50px;
    height: 50px;
    border-radius: 15px;
    color:white;
    background-color: transparent;
    font-size: 20px;
    border:none;
}
.BGM_button:focus{
    border:none;
    outline: none;
}

